<div id="<%= dom_id book %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= book.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= book.author %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Isbn:</strong>
    <%= book.ISBN %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Publish date:</strong>
    <%= book.publish_date %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "View this book", book, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
